[package]
name = "goldboot-registry"
description = "A web service for hosting goldboot images"
version = "0.0.1"
edition = "2021"
license = "AGPL-3.0-only"
authors = ["Tyler Cook"]
readme = "README.md"
homepage = "https://goldboot.org"
repository = "https://github.com/goldboot/goldboot/"

[dependencies]
actix-web = {version = "4", features = ["rustls"]}
env_logger = "0"
goldboot = { path="../goldboot", version = "0.0.1" }
log = { version = "0", default-features = false }
rustls = "0"
rustls-pemfile = "0"
simple-error = "0"
reqwest = { version = "0", features=["stream"] }