[package]
name = "goldboot-registry"
description = "A web service for hosting goldboot images"
version = "0.0.1"
edition = "2021"
license = "AGPL-3.0-only"
authors = ["Tyler Cook"]
readme = "README.md"
homepage = "https://goldboot.org"
repository = "https://github.com/fossable/goldboot/"
rust-version = "1.74"

[dependencies]
anyhow = "1.0.76"
axum = "0.7.4"
clap = { version = "4.4.7", features = ["derive", "string"] }
goldboot = { path="../goldboot", version = "0.0.2" }
goldboot-image = { path="../goldboot-image", version = "0.0.1" }
reqwest = { version = "0.12.0", features = ["stream"] }
tokio = { version = "1.34.0", features = ["full"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
