(
  name: "Arch Linux example",
  description: "Example of how to build a simple Arch Linux image",
  arch: "x86_64",
  size: "16 Gb",
  source: Iso (
    checksum: "sha1:3700a16d4fcabbd29e9a7fbc97da732c4577dc2a",
    url: "https://mirrors.edge.kernel.org/archlinux/iso/latest/archlinux-2022.05.01-x86_64.iso",
  ),
  mold: ArchLinux (
    hostname: "ExampleArch",
    mirrorlist: [
      "https://mirrors.edge.kernel.org/archlinux/$repo/os/$arch"
    ],
    root_password: "root",
    packages: [
      "alacritty",
      "git",
      "neovim",
    ]
  ),
  fabricators: [
    Ansible (
      playbook: "ansible.yml"
    )
  ]
)
